<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 6 years of experience as a software engineer, and have worked
            at both small startups and large organizations. While I'm a proficient full-stack
            developer, my expertise is in building scalable backend services (API services, stream processing,
            and async mechanisms).
        </p>
        <p>
           I have over 2 years of experience as a web developer, and have worked
            at both small startups and large organizations. While I'm a proficient full-stack
            developer, my expertise is in building front-end.
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a role where I can take on on collaborative
           team responsibilites, and gain experience.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
	        			<li>
            		</li>
          <li>
            Presented research and proof-of-concept to convince team to move from Hadoop MR to Spark; reduced nodes by 60% and ran 5-8x faster.
          <li>
            Automated test automation in ramp-up to large data center migration, saving hundreds of developer hours.
    			<li>
            I am a pioneer member of the popular Technovate happening in Benin City every year
    			</li>
    			<li>
            Currently work with Sastaplaza as freelancer, Help them in migrating their site wordpress.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
